.main-body {

    border: 10px solid maroon;
    background-image: url("https://img.freepik.com/premium-vector/red-laser-beam-light-effect-black-background_8829-2492.jpg");
    border-radius: 10px;
}

#text {

    border: 5px solid black;
    background-color: darkred;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    opacity: 75%;
}

#project-text {

    color: azure;
    font-size: 60px;
    font-family: Georgia;
}

#project-text:hover {

    color: silver;
    background-color: olive;
}

#intro-text {

    color: black;
    font-size: 45px;
    font-family: Georgia;

}

.tableone {
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
}

.enlarge:hover {

    height: 95%;
    width: 85%;
}

.normal-text {

    color: azure;
    border: 5px solid black;
    background-color: firebrick;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
}

.link {
    color: antiquewhite;
}